.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  // ProfilePage.scss
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;

  &:hover {
    color: red; // Change color on hover
  }
}

  &__toggle {
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__logo {
    h1 {
      font-size: 24px;
      margin: 0;
    }
  }

  &__profile {
    cursor: pointer;
  }

  // Mobile menu styling
  &__menu {
    position: absolute; // Positioning the menu relative to the header
    top: 60px; // Adjust based on header height
    right: 20px; // Align to the right
    background-color: #444; // Background color of the menu
    border-radius: 8px; // Rounded corners
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 10; // Ensure it sits above other elements

    ul {
      list-style: none;
      padding: 10px 0; // Spacing for the menu items
      margin: 0;

      li {
        padding: 10px 20px; // Padding for menu items
        text-align: right; // Align text to the right

        a {
          color: white; // Link color
          text-decoration: none; // Remove underline
          transition: background-color 0.3s; // Smooth background color change

          &:hover {
            background-color: #555; // Change background color on hover
          }
        }
      }
    }
  }
}
